################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Task-Repo-Pattern
/Properties/PublishProfiles
App_Data/logs/log.txt
